#gameArea {
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url('assets/luna.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #ff4d6d;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}


.basket {
    position: absolute;
    bottom: 10px;
    width: 70px;  /* Mniejszy koszyk */
    height: 50px; /* Proporcjonalna wysokość */
    background-image: url('assets/1685513-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

.cat {
    position: absolute;
    width: 40px;  /* Mniejszy kotek */
    height: 40px;
    background-image: url('assets/pngtree-pink-cute-cat-icon-animal-png-yuri-png-image_5230763-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
}
